@charset "utf-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
    display: block;
}

img {
    height: 100%;
    width: 100%;
}

.img {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 80px;
    height: 80px;
}
/* Remove list styles (bullets/numbers) */


ul {
  margin: 0 auto;
}

li {
    list-style: none;
    padding: 8px;
    background: #D4E5FF;
    text-align: center;
    width: 368px;
    margin-bottom: 18px;
    border-radius: 10px;
}

body {
  background-color: #9CCAFF;
  color: #3C448D;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 100vh;
  font-family: sans-serif;
}